<ul class="pagination pagination-sm">
  <li>
    <a href="#" aria-label="Anterior">
      <span aria-hidden="true"><<</span>
    </a>
  </li>
  <li>
    <a href="#">1</a>
  </li>
  <li>
    <a href="#">2</a>
  </li>
  <li>
    <a href="#">3</a>
  </li>
</ul>
