@import "~variables.scss";

:host {
  .side-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .side-panel-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .side-panel .nav-link {
    font-weight: 500;
    color: #333;
  }

  .side-panel .nav-link .svg-inline--fa {
    margin-right: 4px;
    color: #999;
  }

  .side-panel .nav-link.active {
    color: $primary;
  }

  .side-panel .nav-link:hover .svg-inline--fa,
  .side-panel .nav-link.active .svg-inline--fa {
    color: inherit;
  }

  .side-panel-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
}
