<nav class="col-md-2 d-none d-md-block bg-light side-panel">
  <div class="side-panel-sticky">
    <h1 class="side-panel-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
      Administración
    </h1>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="./product" routerLinkActive="active">
          <i class="fas fa-box-open"></i>
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./category" routerLinkActive="active">
          <i class="fas fa-tags"></i>
          Categorías
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="./brand" routerLinkActive="active">
          <i class="far fa-registered"></i>
          Marcas
        </a>
      </li>
    </ul>
    <h1 class="side-panel-heading d-flex justify-content-between align-items-center px-3 mb-1 mt-4 text-muted">
      Configuración
    </h1>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="./branch" routerLinkActive="active">
          <i class="fas fa-building"></i>
          Sucursales
        </a>
      </li>

    </ul>
  </div>
</nav>
