<div class="admin-page product-list">
  <div class="row">
    <div class="col col-xs-12">
      <h6 class="page-header">Productos</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <pagination></pagination>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <table class="table table-sm w-100 table-striped table-hover w-100 d-block d-md-table">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoría</th>
          <th></th>
        </tr>
        </thead>
        <tr *ngFor="let product of productList">
          <td scope="row">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.brand?.name }}</td>
          <td>{{ product.category?.name }}</td>
          <td>
            <a routerLink="./{{ product.id }}" title="Editar">
              <i class="far fa-edit"></i>
              Editar
            </a>
          </td>
        </tr>
        <tr *ngIf="productList.length == 0">
          <td colspan="5">No hay productos registrados</td>
        </tr>
      </table>
    </div>
  </div>
</div>
