<div class="admin-page category-list">
  <div class="row">
    <div class="col col-xs-12">
      <h6 class="page-header">Marcas</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <table class="table table-striped table-hover w-100 d-block d-md-table">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let brand of brandList">
          <td scope="row">{{ brand.id }}</td>
          <td>{{ brand.name }}</td>
          <td></td>
        </tr>
        <tr *ngIf="brandList.length == 0">
          <td colspan="4">No hay marcas registradas</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" routerLink="add">
        <i class="fas fa-plus"></i>
        Agregar
      </button>
    </div>
  </div>
</div>
