<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" [src]="gravatarHash(model.username)"/>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="username"
             id="username"
             name="username"
             class="form-control"
             placeholder="Usuario / Correo Electrónico"
             [(ngModel)]="model.username"
             #username="ngModel"
             required autofocus>
      <input type="password"
             id="password"
             name="password"
             class="form-control"
             placeholder="Password"
             [(ngModel)]="model.password"
             #password="ngModel"
             required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar Sesión</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div>
