@import "~variables.scss";
.admin-page {
  font-size: .8rem;

  .ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
  }

  h6.page-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  hr {
    margin: 0 -10px 15px;
  }

  .btn {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

}
