<div class="store-main">
  <store-navigation></store-navigation>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
