<div class="admin-page category-list">
  <div class="row">
    <div class="col col-xs-12">
      <h6 class="page-header">Categorías</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <table class="table table-striped table-hover w-100 d-block d-md-table">
        <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categoryList">
          <td scope="row">{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td></td>
        </tr>
        <tr *ngIf="categoryList.length == 0">
          <td colspan="4">No hay categorías registradas</td>
        </tr>
        </tbody>
      </table>
      <a routerLink="add">Agregar</a>
    </div>
  </div>
</div>
