<div class="store-home">
  <div class="row">
    <div class="col col-xs-12">
      <h1>Los productos más vistos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      listado aqui...
    </div>
  </div>
</div>
