<div class="admin-page product-edit">
  <div class="row">
    <div class="col col-xs-12">
      <h6 class="page-header">Editar producto</h6>
      <hr>
    </div>
  </div>
  <ng-container *ngIf="product; else loading">
    <form #productForm="ngForm">
      <div class="row">
        <div class="col col-xs-12">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control"
                      id="description"
                      required
                      [(ngModel)]="product.description"
                      name="desciption">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template #loading>
    <div class="row">
      <div class="col col-xs-12">
        <p>Cargando producto...</p>
      </div>
    </div>
  </ng-template>
</div>
