<dashboard-header></dashboard-header>
<div class="container-fluid">
  <div class="row">
    <admin-side-panel></admin-side-panel>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
