<div class="admin-page category-list">
  <div class="row">
    <div class="col col-xs-12">
      <h6 class="page-header">Agregar Marca</h6>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12">
      <form #categoryForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text"
                 class="form-control"
                 id="name"
                 required
                 [(ngModel)]="model.name"
                 name="name"
                 #name="ngModel">
          <div [hidden]="error != 409" class="alert alert-danger">
            Marca '{{ model.name }}' ya existe y no puede ser agregada, inténtelo con otro nombre nuevamente
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveBrand()">
          <i class="far fa-save"></i>
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
